{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
{{!-- <h1>click here</h1>
<input type="button" value="Click me" onclick={{action "executeQuery"}}> --}}

{{outlet}}